<h1>
    {% if page.url != '/' %}
    <a href="/">..</a> /
    {% endif %}
    {{ include.title }}

    <div class="github-buttons">
        <a class="github-button" href="https://github.com/kevin-mizu/GMSGadget" data-icon="octicon-star" data-show-count="true" aria-label="Star kevin-mizu/GMSGadget on GitHub">Star</a>
        <a class="github-button" href="https://github.com/kevin-mizu/GMSGadget/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork kevin-mizu/GMSGadget on GitHub">Fork</a>
    </div>
</h1>
